* {
  margin: 0;
  padding: 0;
}
video {
  height: 100vh;
  width: 100vw;
  /* display: none; */
  z-index: -1;
}
body {
  /* background-image: url("../Img, Video & Audio/bg.jpeg"); */
  /* background-image: url("../myImages/fileExplorer.png"); */
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  z-index: 1;
}
.taskBar {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
}
.left {
  width: 20%;
  height: 48px;
  background-color: #e2edf8;
}
.center {
  width: 60%;
  height: 48px;
  background-color: #d4def5;
  display: flex;
  justify-content: center;
}
.right {
  width: 20%;
  height: 48px;
  background-color: #e3effa;
}
.startMenu {
  position: absolute;
  bottom: -650px;
  text-align: center;
  width: 100%;
  transition: all 0.3s ease-in;
}
.startMenu img {
  height: 620px;
  width: 620px;
  border-radius: 8px;
}
.Right {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
}
.Left {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
}
.widgets {
  position: absolute;
  bottom: 20px;
  z-index: 4;
  display: none;
  transition: all 0.2s ease-in-out;
}
.widgets img {
  height: 650px;
  width: 700px;
  margin-left: 20px;
  border-radius: 10px;
}
.rightMenu {
  position: absolute;
  bottom: 18px;
  right: 15px;
  z-index: 4;
  display: none;
  transition: all 0.2s ease-out;
}
.rightMenu img {
  border-radius: 8px;
}
.calCulator {
  position: absolute;
  top: 30px;
  left: 100px;
  display: none;
  transition: all 0.2s ease-in-out;
  z-index: 2;
}
.calCulator img {
  border-radius: 8px;
}
.notePad {
  position: absolute;
  top: 70px;
  left: 200px;
  display: none;
  transition: all 0.2s ease-in-out;
  z-index: 2;
}
.notePad img {
  border-radius: 8px;
}
.powerButton {
  position: absolute;
  bottom: 100px;
  left: 860px;
  transition: all 0.2s ease-in-out;
  display: none;
}
.powerButton img {
  border-radius: 8px;
}
.desktopIcons {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}
.firstColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.secondColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sameIconsContainer {
  margin: 15px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 0.8rem;
}
.sameIconsContainer:hover {
  background-color: white;
  opacity: 0.7;
}
.sameIconsRightContainer {
  margin-left: 0px;
}
.sameIcons {
  margin: 3px;
}
.text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-shadow: 1px 1px rgb(209, 208, 208);
}
.thisPC {
  height: 45px;
  width: 55px;
}
.controlPanel {
  height: 45px;
  width: 55px;
}
.googleChrome {
  height: 40px;
  width: 50px;
}
.Network {
  height: 45px;
  width: 55px;
}
.VSCode {
  height: 40px;
  width: 50px;
}
.Edge {
  height: 40px;
  width: 50px;
}
.rightClick {
  position: absolute;
  top: 80px;
  left: 500px;
  display: none;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}
.rightClick img {
  height: 320px;
  width: 220px;
  border-radius: 10px;
}
.buttons {
  position: absolute;
  bottom: 0px;
}
.btn {
  width: 45px;
  height: 45px;
  background-color: black;
  border: 2px solid yellow;
  opacity: 0;
  z-index: 2;
}
#Button1 {
  position: absolute;
  left: 8px;
  bottom: 3px;
  width: 80px;
  height: 50px;
}
#Button2 {
  position: absolute;
  left: 425px;
  bottom: 2px;
  width: 40px;
  height: 40px;
}
#Button3 {
  position: absolute;
  left: 690px;
  bottom: 2px;
  width: 40px;
  height: 40px;
}
#Button3:hover {
  background: white;
  opacity: 0.2;
  border: none;
}
#Button2:hover {
  background: white;
  opacity: 0.2;
  border: none;
}
#Button4 {
  position: absolute;
  left: 1134px;
  bottom: 2px;
  width: 150px;
  height: 42px;
}
#Button4:hover {
  background-color: rgb(228, 222, 222);
  opacity: 0.5;
  border: none;
}
#Button5 {
  position: absolute;
  top: -670px;
  right: -1365px;
  width: 50px;
  height: 40px;
  display: none;
}
#Button6 {
  position: absolute;
  top: -550px;
  right: -483px;
  height: 70px;
  width: 70px;
  display: none;
}
#Button7 {
  position: absolute;
  top: -550px;
  right: -578px;
  height: 70px;
  width: 70px;
  display: none;
}
#Button6:hover,
#Button7:hover {
  background-color: gray;
  opacity: 0.3;
  border: none;
}
#Button8 {
  position: absolute;
  top: -632px;
  left: 364px;
  height: 40px;
  width: 50px;
  display: none;
}
#Button9 {
  position: absolute;
  top: -593px;
  right: -1190px;
  height: 40px;
  width: 50px;
  display: none;
}
#Button5:hover,
#Button8:hover,
#Button9:hover {
  background-color: red;
  opacity: 0.3;
  border: none;
}
#Button10 {
  position: absolute;
  top: -100px;
  right: -950px;
  height: 40px;
  width: 50px;
  display: none;
}
#Button10:hover {
  background-color: white;
  opacity: 0.3;
  border: none;
}
